body {
    background: #114357;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 16px;
}

h2 {
    text-align: center;
    font-size: 1.5em;

    
}

.left {
    float: left;
}

.right {
    float: right;
    font-size: 1.1em;
}

div {
    width: 840px;
    margin: 0 auto;
}

#headingdiv {
    margin-top: 20px;
}

#controldiv {
    text-align: center;
}

#wikipedia {
    margin-top: 40px;
    text-align: right;
    color: rgb(159, 140, 140);
}

canvas {
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: rgb(229, 228, 228);
}

.textinput {
    height: 100%;
    width: 60px;
}

a {
    color: inherit;
}

input {
    margin: 0;
    border: 0;
    font-family: inherit;
    font-size: 1em;
    background-color: #303038;
    color: white;

}

input[type="button"] {
    height: 40px;
    border-radius: 10px;
    font-size: 1.2em;
    width: 100px;
    margin-right: 5px;
}

select {
    margin: 0;
    margin-left: 10px;
    border: 0;
    font-family: inherit;
    font-size: 16px;
    background-color: #303038;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 10px;
}

#nextbutton {
    width: 110px;
}